div.health-component {
  &.with-bg {
    background-color: lightgray;
    padding: 0 25px 25px 25px;
    border: 1px solid black;
  }
  h1 {
    margin: 0;
    text-align: center;
    color: #444;
  }
  .health-container {
    border: 1px solid black;
    background-color: white;
    .healthy {
      background-color: #5cb85c;
    }
    .mid-range {
      background-color: #f0ad4e;
    }
    .low-health {
      background-color: #f05040;
    }
  }
}